<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NLog" version="4.3.11" targetFramework="net45" />
  <package id="RdKafka" version="0.9.1" targetFramework="net461" />
  <package id="RdKafka.Internal.librdkafka" version="0.9.1" targetFramework="net461" />
  <package id="ServiceStack.Common" version="4.5.6" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="4.5.6" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.5.6" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net461" />
</packages>